
@font-face {
    font-family: "dinp";
    src: url("./dinpro/dinpro-regular.ttf") format("opentype");   
      
    }

#mappage, #mappage .ui-content
{
	overflow-x:hidden !important;
	
	
	height:90% !important;
	/*height:80% !important;
	position:absolute;*/
}
#mappage_ses
{
	/*height:50% !important;
	position:absolute;*/
}
#mappage_reg
{
	/*height:90% !important;
	position:absolute*/
}
body, input, select, textarea, button, .ui-btn
{
	font-family: "dinp" !important;
	
}

#contenido
{
	
	height:100% !important;
	
	overflow-y: auto !important;	
		overflow-x:hidden !important; 
 	/*position:absolute !important;*/
 	 -webkit-overflow-scrolling: touch;
}


.body_inicio {
	
	
background: url("../img/fondo.png")  no-repeat fixed center !important;
 background:no-repeat !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
   background-size: 100% 100% !important;
   position:absolute;
}
#fondo
{
	
	width:100% !important;	
	/*overflow-y: auto !important;
	overflow-x: hidden !important;*/
	 
	
}
#header_fondo
{
		height:70px !important;
	  background: url("../img/fondo_cabecera.jpg");
    background-repeat: repeat-x;
    background-size:70px !important; 
    
}
.link_reg {
    color: #c95649 !important;
  font-weight:normal !important;
    text-decoration: none;
}
.link_reg2
{
	float:right !important;
	color:#C95649 !important;
	 
	font-weight:normal !important;
}
#div_logo
{
	
	width:98% !important;
	position:relative;
}
/*.boton_login {
    background-color: #C50119;
   
    padding: 2%;
    color: white !important;
    text-decoration: none;
    
    
}*/
.boton_login {
    background-color: #770042;
   /* width: 98%;*/
    padding: 1%;
    color: white !important;
    text-decoration: none;
}
#div_centro
{
	position:relative;
	margin-top:10% !important;
	
	width:80% !important;
	background-color: #f0f0f0 !important;
	margin:0 auto;
	color: #6d0135;
    font-size: 17px;
    font-weight: bold;
	padding: 1% 2%;
	
}


@media (max-width: 250px) and (min-width: 0px) {

	.li_a
{
	background-color: #2ACCCE !important;
	color:#ffffff !important;
	font-size:40% !important;
	font-family: "ostrich";
	opacity: 0.99 !important;

}
.li_b
{
	background-color: #6D0135 !important;
	color:#ffffff !important;
	font-size:40% !important;
	font-family: "ostrich";
	opacity: 0.99 !important;
}
}
@media (max-width: 500px) and (min-width: 251px) {

	.li_a
{
	background-color: #2ACCCE !important;
	color:#ffffff !important;
	font-size:45% !important;
	font-family: "ostrich";
	opacity: 0.99 !important;

}
.li_b
{
	background-color: #6D0135 !important;
	color:#ffffff !important;
	font-size:45% !important;
	font-family: "ostrich";
	opacity: 0.99 !important;
}
}
@media (min-width: 501px) {
		
	.li_a
{
	background-color: #2ACCCE !important;
	color:#ffffff !important;
	font-size:80% !important;
	font-family: "ostrich";
	opacity: 0.99 !important;

}
.li_b
{
	background-color: #6D0135 !important;
	color:#ffffff !important;
	font-size:80% !important;
	font-family: "ostrich";
	opacity: 0.99 !important;
}
}


#foot_page
{
	background-color: #ffffff !important;
	text-align:right !important;
	font-family: "ostrich";
src: url('ostrich/ostrich-light.ttf') !important;


}
.li_opaco
{
		filter:alpha(opacity=50) !important;
		-moz-opacity: 0.5 !important;
		opacity: 0.5 !important;
}

#titulo_div
{
	opacity: 0.99 !important;
	margin-top:5% !important;
	height:40px !important;
	width:95% !important;	
	color: #ffffff !important;
	padding-right: 10px;	
	text-align:left !important;	
	background: url("../img/h1.png");
  background-repeat: no-repeat;
  background-size:  95% 40px !important; 
	
}

@media (max-width: 350px) and (min-width: 0px)
{
	#titulo_txt_div
{
	float:left !important;
	margin-top:9px !important;
	font-size:9px !important;
	margin-left:2px;
}
.menu_img
{
	width:40px !important;
}
/*#titulo_div
{
	opacity: 0.99 !important;
	margin-top:5% !important;
	height:35px !important;
	width:90% !important;
	margin-left:10px;
	color: #ffffff !important;
	font-size:9px !important;
	
	padding:3px;
	padding-right: 10px;
	
	text-align:left !important;
	
	background: url("../img/h1.png");
    		background-repeat: no-repeat;
    		background-size:  80% 35px !important; 
	
}*/
}
@media (max-width: 500px) and (min-width: 351px)
{
/*#titulo_div
{
	opacity: 0.99 !important;
	margin-top:5% !important;
	height:45px !important;
	width:95% !important;
	margin-left:10px;
	color: #ffffff !important;
	font-size:10px !important;
	
	padding:3px;
	padding-right: 10px;
	
	text-align:left !important;
	
	background: url("../img/h1.png");
    		background-repeat: no-repeat;
    		background-size:  95% 45px !important; 
	
}*/
#titulo_txt_div
{
	float:left !important;
	margin-top:9px !important;
	font-size:10px !important;
	margin-left:2px;
}
.menu_img
{
	width:50px !important;
}
}

@media  (min-width: 501px)
{
/*#titulo_div
{
	opacity: 0.99 !important;
	margin-top:5% !important;
	height:45px !important;
	width:80% !important;
	margin-left:10px;
	color: #ffffff !important;
	font-size:12px !important;	
	padding:3px;
	padding-right: 10px;
	text-align:left !important;
	
	background: url("../img/h1.png");
    		background-repeat: no-repeat;
    		background-size:  80% 45px !important; 
	
}*/
	#titulo_txt_div
{
	float:left !important;
	margin-top:9px !important;
	font-size:11px !important;
	margin-left:2px;
}
.menu_img
{
	width:70px !important;
}
}

#div_formulario
{
	position:relative;
	margin-top:5% !important;
	height:auto !important;
	min-height:400px !important;
	width:80% !important;
	background-color: #EAEAEB !important;
	margin:0 auto;
	color: #770042 !important;
	font-size:12px !important;	
	padding:10px;
	text-align:left !important;
	font-weight:bold;  
}
.input_form
{
	
	height:50px;
	
	color:#676767;
	background-color:ffffff !important;
	border: 1px solid #676767 !important;
	margin:0 auto !important;
	
}

.al_right
{
	float:right !important;
}
.boton_css
{
	background-color: #C50119 !important;
	color:white;
	font-size:15px !important
	font-weight:bold;  
  height: 40px;  
  min-width: 90px;
  width: 30%;
  text-decoration:none !important;
  text-align:center !important;
  line-height: 3.1em;
  
  
}
.boton_css2
{
	background-color: #C50119 !important;
	color:white;
	font-size:15px !important
	font-weight:bold;  
  height: 40px;  
  min-width: 90px;
  width: 30%;
  text-decoration:none !important;
  text-align:center !important;
  line-height: 2.6em;
  
  
}

	@media (max-width: 350px) and (min-width: 0px) {
    	#div_login
			{
				opacity: 0.99 !important;
    		margin: 0 auto !important;
				height:250px !important;	
				width:90% !important;		
				height:250px !important;
	  		background: url("../img/fondo_login.png");
    		background-repeat: no-repeat;
    		background-size: 250px !important; 
    		position:relative;
    	
    }
  }
    @media (max-width: 500px) and (min-width: 351px) {
    	#div_login
			{
				opacity: 0.99 !important;
    		margin: 0 auto !important;
				height:300px !important;	
				width:200px !important;						
	  		background: url("../img/fondo_login.png");
    		background-repeat: no-repeat;
    		background-size: 200px 300px !important; 
    		position:relative;
    }
	}
	@media (min-width: 501px) {
    	#div_login
			{
				opacity: 0.99 !important;
    		margin: 0 auto !important;
				height:350px !important;	
				width:400px !important;						
	  		background: url("../img/fondo_login.png");
    		background-repeat: no-repeat;
    		background-size: 400px 350px !important; 
    		position:relative;
    }
	}

.boton_css_ch
{
	background-color: #C50119 !important;
	color:white;
	font-size:15px !important
	font-weight:bold;  
  height: 25px;  
  min-width: 90px;
  width: 30%;
  text-align:center !important;
  line-height: 3em;
  border-radius: 6px;
  
}
#div_form
{
	position:relative;
	padding:10px;
	width:70% !important;
	text-align:center;
	margin:0 auto !important;
}
.input_form2
{
	
	height:17% !important;		
	color:#676767;
	font-size:70% !important;
	background-color:ffffff !important;
	border: 1px solid #676767 !important;
	margin:0 auto !important;
	
}


#barra_izq ,barra_izq2
{
	float:left;
	 
}
.link_op
{
	text-decoration:none !important;
	color:#CC707A !important;
}
#barra_der, barra_der2
{
	float:right !important;
	color:#CC707A;
	
}
#titulo_div2
{
	margin-top:5% !important;
	height:35px !important;
	width:60% !important;	
	background-color: #770042 !important;
	margin-left:10px;
	color: #ffffff !important;
	font-size:12px !important;
	font-weight:bold;
	padding:3px;
	padding-right: 10px;
	text-align:right !important;
	line-height: 3em;
	
}
@media (max-width: 250px) and (min-width: 0px) {
    	#barra_sup
{
	height:20px !important;
	font-size:10px;
	color: #676767;
	font-weight:normal;
}
  }
    @media (max-width: 500px) and (min-width: 251px) {
    	#barra_sup
{
	height:20px !important;
	font-size:11px !important;
	color: #676767;
	font-weight:normal;
}
	}
	@media (min-width: 501px) {
    	#barra_sup
{
	height:20px !important;
	font-size:14px;
	color: #676767;
	font-weight:normal;
}
	}
	
#div_ofertas
{
	
	margin-top:5% !important;
	height:auto !important;
	min-height:100px !important;
	width:80% !important;
	background-color: #EAEAEB !important;
	
	margin-left: 5%;
	
	font-size:12px !important;	
	padding:10px;
	text-align:left !important;
	font-weight:bold;  
	opacity: 0.99 !important;
}	
#span_txt
{
	
	margin-top:45px;
	margin-left:20px;
}

#left_img
{
	float:left !important;
	padding: 1% !important;
	margin-top: 24px !important;
}


@media (max-width: 500px) and (min-width: 0px) {
	.img_alerta
{
	width:50% !important;
	
}
#rig_img
{
	
	padding: 1% !important;
	margin-top: 35px !important;
	font-weight:bold;
	font-size:11px !important;
}    	
	}
	@media (min-width: 501px) {
    	.img_alerta
			{
				width:80% !important;
			}
			#rig_img
{
	
	padding: 1% !important;
	margin-top: 35px !important;
	font-weight:bold;
	font-size:14px !important;
}
	}

#left_cont
{
	width:60% !important;
	
	float: left;
}
#rig_cont
{
	  float: left;
    
    
    padding: 1%;
    
    width: 15% !important;
	
}
#div_contenido_com
{
	margin-top:2px !important;
	height:auto !important;
	min-height:100px !important;
	/*width:80% !important;*/
	
	
	font-size:15px !important;	
	/*padding:10px;
	margin-left: 1%;
	*/
	text-align:left !important;
	
	
}
#foto1{
	margin-top:20px !important;
	height:auto !important;
	min-height:100px !important;
	max-width:40% !important;
	margin-left: 5%;
	clear:both;
float:left;

text-align:center;

}
#foto2{
	margin-top:20px !important;
	height:auto !important;
	min-height:100px !important;
	max-width:40% !important;
	margin-left:10px;
	text-align:center;	
	float:left;


}
#foto3{
	margin-top:20px !important;
	height:auto !important;
	min-height:100px !important;
	max-width:40% !important;
	margin-left: 5%;
	clear:both;
float:left;

text-align:center;

}
.img_com
{
	max-width:100% !important;
	min-width:100% !important;
	opacity: 0.99 !important;
}
.linea
{
	clear:both;
	background-color: #6D0135 !important;
	height:5px !important;
	margin-top:-3px !important;
	display:none;
}
#espacio
{
	clear:both;
}
#socialmedia{
	

margin-bottom:0 auto !important;
float:right;

}

.logo_prin
{
	padding-left:8px;
}
.header_int
{
	height:70px !important;
	  background: url("../img/fondo_cabecera.jpg");
    background-repeat: repeat-x;
    background-size:70px !important; 
	
}
.p_int
{
	padding:10px;
	color: #676767;
}

#contendor_contenido {
    width: 97%;
    height:90% !important;
    margin: auto;
    position:relative;
}
#contendor_contenido_com {
    width: 97%;
    height:90% !important;
    margin: auto;
    position:relative;
}
#contendor_contenido a {
    color: #770042;
    text-decoration: none;
}
.separador {
    clear: both;
    height: 1px;
}
.cabecera_resultado_busqueda {
    background-color: #f5f5f5;
    border-bottom: 2px dotted #6D0135;
    clear: both;
    color: #6D0135;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 1%;
}

.resultado_busqueda {
    float: left !important;
    padding: 1% !important;
    width:30% !important;
}
.resultado_busqueda2 {
    
    padding: 1%;
    width:80%;
}
.resultado_busquedaL2 {
	text-align:left !important;    
    /*padding: 1% !important;*/
    width:95% !important;
    
}
.imagen_oferta{ float: left;
    padding: 1%;
	width:20%;}

.sitio_web {
    background-color: #6d0135;
    width: 98%;
    padding: 1%;
    color: white;
    text-decoration: none;
    height:60px !important;
}

.sitio_web:hover {
    background-color: #BF5164;
}
	
#pie{
	text-align:right;
}
.paginador{
	width:100%;
	clear:both;
	float:right;	
	margin:1%;
	text-align:right;
	}
	
	
	.paginador a{
		padding:0.8%;
		margin:0.5%;
		border:1px solid grey;
		color: grey;
		background-color:white;
		text-decoration:none}
		
	.paginador a:hover{
		padding:0.8%;
		margin:0.5%;
		border:1px solid grey;
		color: white;
		background-color:grey;
		text-decoration:none
		}
	
	.sitio_web {
    background-color: #6d0135;
    width: 98%;
    padding: 1%;
    color: white !important;
    text-decoration: none;
}

.fondo_buscador {
    background-color: #F0F0F0;
    padding: 1% 2%;
}

/*.texto_buscador {
    width: 20%;
    float: left;
    padding-top: 1%;
    margin: 1%;
    font-weight: bold;
}*/

/*.input_buscador {
    width: 76%;
    float: left;
    margin: 1%;
}*/

#mapa
{
	width:100% !important;
	height:50% !important;
	
}
.titulo_oferta{
		color:#770042;
		font-weight:bold;
		text-transform:uppercase;
		font-size:20px;
		float:left
		
		}
		
		.evalucacion{
			float:right;
			 
			}
			.evalucacionLeft{
			
			 
			}
					
		.flota_der_oferta{
			float:right; text-align: right;
    	width: 40%;
			
			}
			
			.precio_antes{
				
				text-decoration:line-through;}
				
				.precio_despues{color:#770042;
		font-weight:bold;
	}
#myPopup_static 
{
	min-width:230px !important;
	opacity:1 !important;
	z-index:9999999 !important;
	
}
#cont_static
{
	color: #CC707A !important;
	padding:5px;
	font-size:14px;
	font-weight:bold;
}
.imagen_noweb{float:left;
		display:inline-block;
		padding:1%;}
		
		.texto_noweb{float:left;
		display:inline-block; padding: 4% 1% 1%;
		font-weight:bold;}
#contenido_ws
{
	height:60% !important;
}
.no_link
{
	text-decoration:none !important;   
color: #6D0135 !important;
    font-weight: bold !important;
}
#texto_oferta
{
	
	margin-top: -4px !important;
}

.fondo_login{
	width:95% !important;
	margin:0 auto;
	   background-color: #7FE0E1;
    padding: 1% 2%;
	-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
  opacity: 0.9;
	}
.fondo_login a
{
	 color:#770042;
    text-decoration:none;

}	
.texto_buscador {
    width: 98%;
    float: left;

    margin: 0.5%;
    font-weight: bold;
	text-transform:uppercase;
	color: #770042;
}

.input_buscador {
    width: 98%;
    float: left;
    margin: 0.5%;
}
.input_LOGIN{
	float:right;
	
	    width: 98%;
  text-align: right;
    margin: 1% 0.5%;}

.boton_buscar {
    background-color: #770042;
   /* width: 98%;*/
    padding: 1%;
    color: white !important;
    text-decoration: none;
	float:right
}

    .boton_buscar:hover {
        background-color: #BF5164;
    }


#bottom_imgfoot
{
	bottom:0 auto !important;
	float:right !important;
	
}
.contenido_oferta{
 background-color: white;
    clear: both;
    display: block;
    float: left;
    }
   
   .puntaje2
{
	color: #F48080 !important;
}
.boton_valorar{
	background-color:green;   padding:7%;
  color: white !important;
  
	}
	

.paginador{
	width:100%;
	clear:both;
	float:right;	
	margin:1%;
	text-align:right;
	}
	
	
	.paginador a{
		padding:0.8%;
		margin:0.5%;
		border:1px solid grey;
		color: grey;
		background-color:white;
		text-decoration:none}
		
	.paginador a:hover{
		padding:0.8%;
		margin:0.5%;
		border:1px solid grey;
		color: white;
		background-color:grey;
		text-decoration:none}
.pag_dv
{
	display:none;
}
.clickable-area {
    display: block;
    width: 100%;
    height: 300px;
    background-color: #ffefef;
}
.clickable-area:focus {
    outline: 0;
}

